@media only screen and (min-width: 992px) {
  .contactText {
    text-align: center;
    margin-top: 3em;
    align-items: center;
    flex-direction: column;
  }
  .pText {
    margin-top: 0.7em;
  }
  .gridDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
    margin-left: 200px;
  }
  .div1 {
    float: left;
    height: 300px; 
  }
  .div2 {
    float: left;
    height: 300px; 
  }
  .div3 {
    float: left;
    height: 300px; 
  }
}

@media screen and (max-width: 600px) {
  .contactText {
    text-align: center;
    margin-top: 3em;
    align-items: center;
    flex-direction: column;
  }
  .div1 {
    width: 100%;
    float: left;
    height: 300px; 
    order: 2;
  }
  .div2 {
    float: left;
    height: 150px; 
    order: 1;
  }
  .div3 {
    float: left;
    height: 300px; 
    order: 3;
  }
  .gridDiv {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 200px;
  margin-left: 0px;
  text-align: center;
  }
  .img1{
    max-width: 400px;
  }
  .form{
    text-align: center;
  }
}
