.QuestionBank {
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.QuestionBank .btn {
  color: white;
  background: linear-gradient(100deg, #a840d1, #56d1d4);
  width: 140px;
  height: 40px;
  cursor: pointer;
}
.newLevelDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.newLevelDiv .btn {
  color: white;
  background: linear-gradient(100deg, #a840d1, #56d1d4);
  width: 140px;
  height: 40px;
  cursor: pointer;
  padding-left: 0px;
}
.chapterFrom {
  display: flex;
}
.chapterFrom .btn {
  color: white;
  background: linear-gradient(100deg, #a840d1, #56d1d4);
  width: 140px;
  height: 40px;
  cursor: pointer;
  padding-left: 0px;
}
.newLevelDiv input {
  padding-left: 10px;
  width: 80%;
  height: 50px;
}
.QuestionBank .levelsDivs {
  width: 100%;
  height: 90%;
  overflow: auto;
}
.QuestionBank .levelDiv {
  margin: auto;
  width: 50%;
  height: 24%;
  box-shadow: 2px 2px 2px 2px #c9c7c7;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.signUp input:focus {
  outline-color: #56d1d4;
}
.QuestionReview {
  width: 100%;
  height: 70px;
  box-shadow: 2px 2px 2px 2px #c9c7c7;
  margin: 10px 5px;
  padding-left: 15px;
}
@media only screen and (max-width: 600px) {
  .QuestionBank .levelDiv {
    width: 90%;
  }
}
