.home {
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.home img {
    width: 35%;
    height:70%;
}
.getStartedInfo{
    width: 50%;
    overflow: auto;
    direction: ltr;
    padding: 0px 20px;
}
.getStartedBtn{
    background: linear-gradient(100deg,#A840D1, #56D1D4);
    color: "white";
    cursor: "pointer";
    padding: 10px;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.aboutavatar{
    margin: auto;
    width: 70%;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media only screen and (max-width: 600px) {
    .home img {
        width: 80%;
        height:80%;
    }
    .getStartedInfo{
        width: 100%;
        overflow: auto;
    }

  }
