.ExamContent{
    border: 1px #cecece solid;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 2rem;
}
.TitleExam{
 padding-top: 0.3rem;
}
.InputGroup{
    padding-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;

}
.Queistion{
    width: 90%;
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
}
/* .textfield{
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .textfield{
        font-size: 5px;
    }
  } */