.ExamInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 20px;
}
.ExamStructureInfo {
  width: 100%;
  background-color: red;
  height: 77%;
}
.ExamStructureInfo input {
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  width: 45%;
}
.ExamStructureInfo select {
  height: 50px;
  border: 1px solid #e7ebf0;
  border-radius: 4px;
  margin-left: 5px;
  width: 45%;
}
.ExamStructureInfo select:focus {
  outline-color: #56d1d4;
}
@media only screen and (max-width: 600px) {
    .ExamStructureInfo {
        height: 72%;
      }
}
