.ExamInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
}

.ExamStructureInfo input {
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  width: 50%;
}
.ExamStructureInfo select {
  height: 50px;
  border: 1px solid #e7ebf0;
  border-radius: 4px;
  margin-left: 5px;
}
.ExamStructureInfo select:focus {
  outline-color: #56d1d4;
}
