*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'poppins';
  src: local('poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'arial';
  src: local('arial'), url(./fonts/Lato-Regular.ttf) format('truetype');
}
